body {
    background-color: black;
    font-family: "Ubuntu", sans-serif;
}

.card {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 1px;
    padding-right: 20px;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
    text-align: right;
}

h1 {
    font-weight: 300;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
}

.social {
    font-family: monospace;
    font-style: italic;
}

#gh {
    list-style-image: url(./assets/gh.png);
    list-style-position: inside;
}

#tt {
    list-style-image: url(./assets/tt.png);
    list-style-position: inside;
}

#ig {
    list-style-image: url(./assets/ig.png);
    list-style-position: inside;
}