body{
    font-family: monospace;
    background-color: black;
    font-size: 1.4rem;

}
.card{
    width: 40em;
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-right: 2.8em;
    padding-bottom: 3.5em;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    margin: auto;
    text-align: right;
    text-decoration: none;
}
.name{
    font-weight:bold;
    font-size: 2em;
    letter-spacing: 0.15em;
    padding-bottom: 0.7em;
}

.icon{
    width: 5rem;
}
.link{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}